body {
  font-family : 'Lekton', sans-serif;
}

.navbar .container {
  padding : 0 45px;
}

.pad-top {
  padding-top : 80px;
}

.X-group {
  margin-left : 45px;
  padding : 5px;
}

.X-primary {
  font-size : 18px;
}

.big-btn,
.big-btn:active,
.big-btn:focus,
.big-btn:visited {
  padding-right : 0;
  padding-left : 0;
  width : 150px;
  height : 150px;
  border : 1px solid #e5e5e5;
  background-color : rgba(3, 3, 3, 0);
  color : #ffffff;
  font-size : 115px;
}

.big-btn:hover {
  border : 1px solid #e5e5e5;
  background-color : rgba(3, 3, 3, 0.1);
}

.X-brand {
  padding : 17px 15px 15px 0;
  font-weight : 700;
  font-size : 32px;
}

.nav > li {
  padding : 10px 10px 10px 0;
  font-size : 20px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding-right : 0;
  padding-left : 0;
  width : 155px;
  height : 155px;
  vertical-align : middle;
}
